/* style={{ backgroundColor: '#ccff66', 
  height: '100vh', 
  display: 'flex', 
  flexDirection: 'column', 
  justifyContent: 'center', 
  alignItems: 'center' }} */

.home_main {
  background-color: #DFFF80;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_input {
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 20px;
  text-align: center;
}

.home_button {
  margin-bottom: 100px;
}

.white-block {
  margin-bottom: 30px;
  padding: 20px;

  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
}